@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rubik&display=swap');

:root {
    --color-text-1: #FFFFFF;
    --color-text-2: #B9BBBE;

    --color-primary: rgb(54, 57, 63);
    --color-button: rgb(88, 101, 242);

    --color-card: rgb(47, 49, 54);
    --shadow-card: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
    background-color: var(--color-primary);
    scroll-behavior: smooth;
}

* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}

a {
    text-decoration: none;
}

/* Header and Nav Bar*/

header {
    background-color: var(--color-card);
    box-sizing: border-box;

    position: fixed;
    top: 0px;
    z-index: 1;

    width: 100%;
    margin: auto;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Navigation Bar: Links (centre) */

#divLinks {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#navBar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 352px;
    margin: 24px;
    padding: 8px 12px;
}

#navBar li {
    list-style: none;
    margin: auto;
    overflow-y: hidden;
}

.navLinks {
    color: var(--color-text-2);
    font-size: 1.25rem;
}

.navLinks:hover {
    text-decoration: underline;
    color: rgb(214, 214, 214);
}
   
/* Navigation Bar: Buttons (right) */

#navButtonDiv {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.buttonLinks {
    color: var(--color-text-1);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
    line-height: 1.5em;
    min-Width: 4.5em;
    margin: 0.3em;
    padding: 0.4em 0.3em;

    transition: all 0.3s ease-in-out 0s;
}

#navButtonServer {
    background: url(../images/discord-logo.png) left no-repeat var(--color-button);
    background-position-x: 6px;
    padding-right: 0;
    padding-left: 24px;
}

#navButtonGithub {
    background: url(../images/github-logo.png) left no-repeat var(--color-button);
    background-position-x: 6px;
    padding-right: 0px;
    padding-left: 24px;
}

.buttonLinks:hover {
    background-color: rgb(140, 147, 226) !important;
}

/* Search Box */

#home {
    padding-top: 76px;
}

/* Main heading for the website */

h1 {
    color: var(--color-text-1);
    text-align: center;
    font-size: 3.375rem;
    margin-top: 1em;
    margin-bottom: 0;
}

.textPara {
    color: var(--color-text-2);
    text-align: center;
    font-size: 1.875rem;
    line-height: 1.5em;
}

/* Search Box in the middle */

.searchBox {
    background-color: var(--color-card);
    box-shadow: var(--shadow-card);
    overflow-y: hidden;
    border-radius: 8px;
    width: 95%;
    max-width: 545px;
    margin: auto;
    margin-top: 32px;
}

#searchBar {
    background-color: rgb(114, 118, 125);
    box-shadow: var(--shadow-card);
    caret-color: white;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    display: block;

    font-size: 1.5rem;
    width: 95%;
    max-width: 496px;
    margin: 20px auto;
    height: 2.5em;
    padding: 0.5em 0.9em;

    transition: background-color 0.2s ease-in-out 0s;
}

#searchBar::placeholder {
    color: #91a3b0;
    font-weight: bold;
}

#searchBar:focus {
    outline: none;
}

input {
    color: rgb(220, 221, 222);
}

#divButton {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 90%;
    max-width: 474px;
    margin: auto;
    margin-bottom: 20px;
}

.searchButton {
    background-color: var(--color-button);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;

    border-radius: 3px;
    font-size: 1.2rem;
    line-height: 1.5em;
    height: 3.125em;
    margin: 8px;

    transition: background-color 0.2s ease-in-out 0s;
}

.searchButton:hover {
    background-color: rgb(71, 82, 196);
}

.searchButton:focus {
    background-color: rgb(60, 69, 165);
}

/* Note below the Search Box  */

#note {
    color: var(--color-text-2);
    overflow-y: hidden;
    text-align: center;

    font-size: 1.2rem;
    line-height: 1.25em;
    width: 95%;
    max-width: 37.5em;
    margin: 0.75em auto;
    padding: 0.5rem;
}

#note a {
    color: rgb(88, 101, 242);
}

#note > a:hover {
    color: rgb(140, 147, 226);
    text-decoration: underline;
}

/* feature-images and their descriptions  */

#features-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 200px;
    padding-top: 96px;
}

#features-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;

    margin-top: 0;
    padding-top: 84px;
}

/* titles and the description */

.featureDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 525px;
}

.titleForImage {
    color: var(--color-text-1);
    font-family: 'Josefin Sans', sans-serif;
    text-align: right;

    font-size: 3rem;
    font-weight: 700;
    line-height: 1.167em;
    padding: 0.24em;
}

.descForTitle {
    color: var(--color-text-2);
    text-align: right;
    border-top: 2px solid gray;

    font-size: 1.75rem;
    line-height: 1.2em;
    padding: 0.24em;
}

/* feature images */

.imageCard {
    background-color: var(--color-card);
    box-shadow: var(--shadow-card);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 96%;
    max-width: 525px;
    padding: 24px;
    margin-bottom: 16px;
}

.featureImage {
    width: 100%;
}

#image-2, #image-4 {   
    margin-top: 24px;
}

.leftAlign {
    text-align: left;
}

/* Global Leaderboard table */

#leaderboard {
    margin-bottom: 50px;
}

#globalLB {
    color: var(--color-text-1);
    text-align: center;
    font-size: 3.375rem;
    font-weight: 700;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

.table {
    background-color: var(--color-card);
    box-shadow: var(--shadow-card);
    color: var(--color-text-1);
    border-radius: 10px;
    border-collapse: collapse;

    width: 96%;
    max-width: 992px;
    margin: auto;
    margin-bottom: 30px;
}

table, th, td {
    text-align: center;
}

th {
    height: 5.625rem;
    border-bottom: 1px solid #B9BBBE;
}

tr {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

td {
    height: 50px;
    padding: 10px;
}

tr:not(#noHover):hover {
    border-left: 5px solid #B9BBBE;
}

/* Media Queries */

/* For tablets  */
@media only screen and (max-width: 990px) {
    #features-1, #features-2 {
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .featureDesc {
        max-width: 525px;
    }
    .titleForImage, .descForTitle {
        text-align: center;
    }
    .imageCard {
        margin-top: 1.5rem;
    }
}

@media only screen and (max-width: 1024px) {
    header {
        display: none;
    }
    h1, #globalLB {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 15px
    }
    /* .searchBox {
        height: 18rem;
    }
    #divButton {
        height: 13rem;
    } */
   }

@media only screen and (max-width: 474px) {
    html {
        font-size: 14px;
    }
   }

/* for long devices */

@media only screen and (min-height: 800px) and (max-width: 440px) {
    #features-1 {
       margin-top: 16rem;
    }
}